version: "3.8"

services:
  restic-backup:
    image: mazzolino/restic:1.8
    restart: unless-stopped
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?Missing environment variable see readme}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?Missing environment variable see readme}
      BACKUP_CRON: "0 30 3 * * *"
      POST_COMMANDS_EXIT: echo "Backup completed for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme} with tag ${RESTIC_BACKUP_TAG-docker-volumes}"
      POST_COMMANDS_FAILURE: |-
        curl -X POST --data "{\"title\": \"Backup failed\", \"body\": \"Backup failed for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme}\ with tag ${RESTIC_BACKUP_TAG-docker-volumes}\"}" http://notify:5000
      POST_COMMANDS_INCOMPLETE: |-
        curl -X POST --data "{\"title\": \"Backup incomplete\", \"body\": \"Backup incomplete for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme}\ with tag ${RESTIC_BACKUP_TAG-docker-volumes}\"}" http://notify:5000
      POST_COMMANDS_SUCCESS: |-
        curl -X POST --data "{\"title\": \"Backup completed\", \"body\": \"Backup completed for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme}\ with tag ${RESTIC_BACKUP_TAG-docker-volumes}\"}" http://notify:5000
      PRE_COMMANDS: echo "Backup started for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme} with tag ${RESTIC_BACKUP_TAG-docker-volumes}"
      RESTIC_BACKUP_ARGS: >-
        --tag ${RESTIC_BACKUP_TAG-docker-volumes}
        --host ${RESTIC_BACKUP_HOST:?Missing environment variable see readme}
        --exclude *.tmp
        --verbose
      RESTIC_BACKUP_SOURCES: /mnt/volumes
      RESTIC_FORGET_ARGS: >-
        --keep-last ${RESTIC_KEEP_LAST-30}
        --keep-daily ${RESTIC_KEEP_DAILY-7}
        --keep-weekly ${RESTIC_KEEP_WEEKLY-5}
        --keep-monthly ${RESTIC_KEEP_MONTHLY-12}
      RESTIC_PASSWORD: ${RESTIC_PASSWORD:?Missing environment variable see readme}
      RESTIC_REPOSITORY: ${RESTIC_REPOSITORY:?Missing environment variable see readme}
      RUN_ON_STARTUP: "true"
      TZ: ${RESTIC_TZ-Europe/Berlin}
    volumes:
      - /var/lib/docker/volumes:/mnt/volumes:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  restic-prune:
    image: mazzolino/restic:1.8
    hostname: docker
    restart: unless-stopped
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?Missing environment variable see readme}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?Missing environment variable see readme}
      POST_COMMANDS_FAILURE: |-
        curl -X POST --data "{\"title\": \"Prune failed\", \"body\": \"Prune failed for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme}\ with tag ${RESTIC_BACKUP_TAG-docker-volumes}\"}" http://notify:5000
      PRUNE_CRON: "0 0 4 * * *"
      RESTIC_PASSWORD: ${RESTIC_PASSWORD:?Missing environment variable see readme}
      RESTIC_REPOSITORY: ${RESTIC_REPOSITORY:?Missing environment variable see readme}
      RUN_ON_STARTUP: "true"
      SKIP_INIT: "true"
      TZ: ${RESTIC_TZ-Europe/Berlin}

  restic-check:
    image: mazzolino/restic:1.8
    hostname: docker
    restart: unless-stopped
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?Missing environment variable see readme}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?Missing environment variable see readme}
      CHECK_CRON: "0 15 5 * * *"
      POST_COMMANDS_FAILURE: |-
        curl -X POST --data "{\"title\": \"Check failed\", \"body\": \"Check failed for ${RESTIC_BACKUP_HOST:? Missing environment variable see readme}\ with tag ${RESTIC_BACKUP_TAG-docker-volumes}\"}" http://notify:5000
      RESTIC_CHECK_ARGS: >-
        --read-data-subset=10%
      RESTIC_PASSWORD: ${RESTIC_PASSWORD:?Missing environment variable see readme}
      RESTIC_REPOSITORY: ${RESTIC_REPOSITORY:?Missing environment variable see readme}
      RUN_ON_STARTUP: "false"
      SKIP_INIT: "true"
      TZ: ${RESTIC_TZ-Europe/Berlin}

  notify:
    image: mazzolino/apprise-microservice:0.3
    environment:
      NOTIFICATION_URLS: mailto://${NOTIFY_USER:?Missing environment variable see readme}:${NOTIFY_PASSWORD:?Missing environment variable see readme}@${NOTIFY_SERVER:?Missing environment variable see readme}?to=${NOTIFY_TO:?Missing environment variable see readme}
